<div class="container-fluid">
  <div class="row categories">
    <!-- <mat-tab-group>
      <mat-tab label="Developing Others">
        <div class="col-lg-12">
          <div class="row">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody class="text-left" *ngFor="let expectation of playerCoachOthersExpectations">
                  <tr>
                    <td
                      *ngIf="expectation.SubCategory != expectation.Description[0] && expectation.Description != 'NA'">
                      <b>{{expectation.SubCategory}}</b></td>
                    <td
                      *ngIf="expectation.SubCategory != expectation.Description[0] && expectation.Description != 'NA'">
                      {{expectation.Description}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Developing Yourself">
        <div class="col-lg-12">
          <div class="row">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody class="text-left" *ngFor="let expectation of playerCoachYourselfExpectations">
                  <tr>
                    <td
                      *ngIf="expectation.SubCategory != expectation.Description[0] && expectation.Description != 'NA'">
                      <b>{{expectation.SubCategory}}</b></td>
                    <td
                      *ngIf="expectation.SubCategory != expectation.Description[0] && expectation.Description != 'NA'">
                      {{expectation.Description}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Mentoring">
        <div class="col-lg-12">
          <div class="row">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody class="text-left" *ngFor="let expectation of playerCoachMentoringExpectations">
                  <tr>
                    <td
                      *ngIf="expectation.SubCategory != expectation.Description[0] && expectation.Description != 'NA'">
                      <b>{{expectation.SubCategory}}</b></td>
                    <td
                      *ngIf="expectation.SubCategory != expectation.Description[0] && expectation.Description != 'NA'">
                      {{expectation.Description}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group> -->
    <h2 class="color"><u>Developing Others</u></h2>
    <div class="col-lg-12">
      <div class="row">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody class="text-left" *ngFor="let expectation of playerCoachOthersExpectations">
              <tr>
                <td *ngIf="expectation.SubCategory != expectation.Description[0] && expectation.Description != 'NA'">
                  <b>{{expectation.SubCategory}}</b></td>
                <td *ngIf="expectation.SubCategory != expectation.Description[0] && expectation.Description != 'NA'">
                  {{expectation.Description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row category2" *ngIf="playerCoachYourselfExpectations">
    <h2 class="color"><u>Developing Yourself</u></h2>
    <div class="col-lg-12">
      <div class="row">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody class="text-left" *ngFor="let expectation of playerCoachYourselfExpectations">
              <tr>
                <td *ngIf="expectation.SubCategory != expectation.Description[0] && expectation.Description != 'NA'">
                  <b>{{expectation.SubCategory}}</b></td>
                <td *ngIf="expectation.SubCategory != expectation.Description[0] && expectation.Description != 'NA'">
                  {{expectation.Description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row category2" *ngIf="playerCoachMentoringExpectations">
    <h2 class="color"><u>Mentoring</u></h2>
    <div class="col-lg-12">
      <div class="row">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody class="text-left" *ngFor="let expectation of playerCoachMentoringExpectations">
              <tr>
                <td *ngIf="expectation.SubCategory != expectation.Description[0] && expectation.Description != 'NA'">
                  <b>{{expectation.SubCategory}}</b></td>
                <td *ngIf="expectation.SubCategory != expectation.Description[0] && expectation.Description != 'NA'">
                  {{expectation.Description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>